.menu-button {
    width: 100%;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    background-color: #ccc;
    font-size: large;
}

.menu-button:hover {
    background-color: #eee;
}

.menu-list {
    overflow-y: scroll;
    height: 50%;
}

.discount-list {
    overflow-y: scroll;
    height: 40%;
}

#menuTabContent {
    height: 80%;
    overflow-y: scroll;
    overflow-x: auto;
}